language: generic
sudo: required
services:
  - docker
before_install:
  - docker build -t yehoshua305/react -f Dockerfile.dev . 
script:
  - docker run -e CI=true yehoshua305/react npm run test
